@font-face {
    font-family: champ;
    src: url(../fonts/champ.ttf);
}

@font-face {
    font-family: blue1;
    src: url(../fonts/blue.otf);
}

body {
    font-family: 'arial', sans-serif;
    font-size: 14px;
    line-height: 1.72;
    background: #ffffff;
    color: #737475;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: visible !important;
    position: relative;
    overflow-x: hidden;
}

.mt-20 {
    margin-top: 20px;
}

.top-bar {
    padding: 5px 0;
    font-size: 13px;
    background-color: #5f5f61;
    color: #ffffff;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar ul li {
    margin-right: 20px;
}

.top-bar ul a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.top-bar ul a:hover span {
    border-bottom: solid 1px #ffffff;
}

.top-bar ul a:hover .fa {
    color: #3e3e3e;
}

.top-bar ul a span.colored {
    color: #3e3e3e;
    margin-left: 5px;
}

.top-bar ul .dropdown-menu {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.top-bar ul .dropdown-menu li {
    margin-right: 0;
}

.top-bar ul .dropdown-menu a {
    color: #232323;
    padding: 3px 10px;
}

.top-bar ul .dropdown-menu a:hover {
    border-bottom: none;
}

.top-bar ul .fa {
    margin-right: 5px;
}

.top-bar ul .dropdown-toggle .fa {
    margin: 0 0 0 5px;
}

.top-bar .top-bar-left {
    float: left;
}

.top-bar .top-bar-right {
    float: right;
}

.top-bar .top-bar-right > ul > li {
    padding: 0;
    margin: 0;
    position: relative;
}

.top-bar .top-bar-right > ul > li + li {
    padding: 0 0 0 10px;
    margin: 0 0 0 9px;
}

.top-bar .top-bar-right > ul > li + li:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 1px;
    height: 8px;
    background-color: #ffffff;
}

.top-bar .icon-user img {
    margin-top: -3px;
    margin-right: 5px;
}

.top-bar .icon-form img {
    margin-top: -5px;
    margin-right: 5px;
}

.top-bar .dropdown.currency .dropdown-menu {
    min-width: 80px;
}

.top-bar .dropdown.flags > a img {
    margin-top: -3px;
}

.top-bar .dropdown.flags .dropdown-menu {
    min-width: 75px;
}

.header .header-wrapper > .container {
    position: relative;
    min-height: 40px;
}

.sticky-wrapper:not(.is-sticky) {
    height: auto !important;
}

.wide .sticky-wrapper .header {
    width: 100% !important;
}

.sticky-wrapper .header {
    z-index: 20;
}

.ButtonFilter a, .ButtonFilter span {
    border: 2px solid #733494;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin: 0 2px 0 0;
    text-align: center;
    color: #555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.ButtonFilter a:hover {
    border-color: #733494;
    color: #fff;
    background-color: #733494;
}

.header .header-wrapper {
    padding: 15px 0;
    background-color: #ffffff;
    position: relative;
}

.header .header-wrapper > .container {
    position: relative;
    min-height: 40px;
}

.is-sticky .header .header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.header .header-search {
    position: absolute;
    top: 0;
    left: 15px;
    width: 270px;
    max-width: 100%;
}*/
.header-info {
    float: left;
    width: 100%;
    text-align: right;
    text-decoration: none;
    margin: 10px 0 15px;
}

.header-info a {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 5px;
}

.header-info a i {
    color: #733494;
    margin-left: 5px;
}

.header-info a:hover {
    color: #733494;
}

.header .header-search {
    display: inline-block;
    border: 1px solid #733494;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 40px;
        padding-right: 13px;
}

.header .header-search .form-control {
    float: left;
    width: calc(100% - 35px) !important;
    height: 40px;
    line-height: 40px;
    padding-left: 15px !important;
}

.header .header-search button {
    /*position: absolute;
    left: -11px;
    top: 3px;*/
    background-color: #ffffff;
    border: none;
    padding: 2px 0;
    line-height: 30px;
    font-size: 16px;
    color: #232323;
    margin-top: 3px;
}

.header .header-search button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -34px;
    width: 34px;
    height: 34px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

/*
.header .header-cart {
    position: absolute;
    top: 0;
    right: 15px;
}*/
.header .header-cart {
    text-align: right;
}

.header .navigation-wrapper {
    position: relative;
    border-top: solid 1px #d3d5d7;
    background-color: #5f5f61;
}

.header .navigation-wrapper .nav1 > li.mega-dropdown.open ul.mega-dropdown-menu {
    max-width: 1170px;
    right: 0;
    margin: auto;
}

.header .navigation-wrapper.navigation-sticky {
    width: 100%;
}

.header.header-logo-left .header-search {
    left: 305px;
    width: 570px;
}

.header.header-logo-left .header-search button:not(.selectpicker) {
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    background-color: #232323;
    color: #ffffff;
}

.header.header-logo-left .header-search button:not(.selectpicker):before {
    display: none;
}

.header.header-logo-left .header-search .header-search-select {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.header.header-logo-left .header-search .header-search-select .dropdown-toggle {
    border-left: solid 1px #e9e9e9;
    height: 34px;
    width: 130px;
    right: 40px;
}

.header.header-logo-left .header-search .header-search-select .dropdown-toggle:before {
    left: -35px;
}

.header.header-logo-left .header-search .header-search-select .filter-option {
    text-transform: none;
    line-height: 28px;
}

.header.header-logo-left .header-search .dropdown-menu.open {
    border: none;
    width: 100%;
    margin-top: -7px;
}

.logo {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 218px;
    height: auto;
}

.logo img {
    max-width: 100%;
}

.header-logo-left .logo {
    margin-left: 0;
}

.header-logo-left .logo {
    margin-left: auto;
}

.header .navigation-wrapper {
    border-top: solid 1px #d3d5d7;
    background-color: #5f5f61;
}

.header .navigation-wrapper .nav1 > li > a {
    padding: 9px 15px;
}

.header .navigation-wrapper .nav1 > li > a .fa {
    margin: 5px 0 0 10px;
}

.header .navigation-wrapper .nav1 > li > a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    width: 1px;
    height: 26px;
    margin: auto;
}

.header .navigation-wrapper .nav1 > li:hover > a:after {
    color: #fff;
}

.thumbnail .price ins {
    padding-right: 5px;
    text-decoration: none;
    color: #733494;
    font-size: 14px;
    letter-spacing: 0 !important;
}

.thumbnail .price {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
}

.btn-grey, .btn-grey:focus, .btn-grey:active {
    background-color: #e9439c;
    border: 3px #e9439c;
    color: #ffffff;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    border-radius: 0;
    font-weight: bold;
}

.top-products-carousel .owl-prev {
    position: absolute;
    top: 40%;
    color: #e9e9e9;
    height: 37px;
    width: 37px;
    line-height: 37px;
    text-align: center;
    left: -40px;
}

.btn-default {
    color: #fff;
    background-color: #797979;
    border-color: #ccc;
    margin-left: 10px;
}

.top-products-carousel .owl-next {

    position: absolute;
    top: 40%;
    color: #e9e9e9;
    height: 37px;
    width: 37px;
    line-height: 37px;
    text-align: center;
    right: -34px;

}

.new-arrival.text-center h1 {
    color: #0f120e;
    font-size: 100px;
    font-weight: bold;
}

.new-arrival.text-center h2 {
    color: #5f5f61;
    font-size: 78px;
    line-height: 0.5;
}

.navbar-inverse {
    text-align: center;
    margin-bottom: 0;
}

.nav.navbar-nav.text-center {
    width: 100%;
}

.nav1 > li {
    float: none;
    display: inline-block;
}

.product-info .nav1 > li {
    float: left;
    display: inline-block;
}

.nav1 > li:last-child > a:after {
    display: none;
}

.nav1 > li > a {
    padding: 15px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #efefef;
}

.navbar-nav > li > .dropdown-menu li a:after {
    display: none;
}

.navbar-default {
    background-color: #733494;
}

.pagination-wrapper {
    text-align: center;
    background: #fbfbfb;
    border-top: #6b6b6b solid 1px;
}

.nav1 > li > a {
    position: relative;
    display: block;
    padding: 9px 6px;
    color: #fff;
}

.nav1 > li:hover a {

    color: #733494;
}

a.cart-icon {
    margin-left: 15px;
    display: inline-block;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px;
}

h2.section-title1 {
    color: #733494;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.page-section {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

.page-section .section-title1 {
    margin-top: 50px;
}

.thumbnail.no-padding {
    padding: 0;
}

.thumbnail.no-border, .thumbnail.no-border.hover, .thumbnail.no-border:hover {
    /*border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;*/
}

.caption-title a {
    color: rgb(29, 29, 29);
    text-transform: uppercase;
}

.new-arrival.text-center h3 {
    color: #733494;
    font-size: 105px;
    line-height: 1;
    font-family: blue1, sans-serif;
}

.container-images img {
    width: 100%;
    /*margin-top: 20px;*/
}

.footer-image {
    /*  background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/footer.jpg");*/
    background-size: cover;
    height: 620px;
    margin-bottom: 30px;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.footer-nav li {

    display: inline-block;

}

.footer-nav li a {
    display: block;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.footer-email ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.footer-email li {
    color: black;
    border-right: 1px solid;
    display: inline-block;
    padding: 0 8px;
    font-size: 16px;
}

li.address {
    border-right: none;
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.footer-banner img {
    width: 100%;
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.footer-social li {
    color: black;
    display: inline-block;
    padding: 0 0px;
}

span.footer-pro {
    color: #e9386e;
}

.footer{
    padding: 0px 0px !important;
}

.footer ul li a {
    padding: 4px !important;
}

.copy {
    background-color: #424242;
    color: white;
    padding-top: 10px;
    text-align: center;
    margin-top: 29px;

}

.footer-social {
    margin-top: 16px;
}

.no-padding {
    padding: 0;
}

.carousel-inner .item img {
    width: 100%;
    object-fit: cover;
}

.girl {
    background: rgb(243, 243, 243);
}

.new-arrival.text-center {
    padding-top: 53px;
}

.owl-carousel .owl-item {
    -webkit-transform: translateZ(0) scale(1, 1);
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

.cart-wrapper {
    margin-left: 30px;
}

@media (max-width: 1199px) {
    .cart-wrapper {
        margin-left: 15px;
    }
}

.cart-wrapper .btn {
    height: 40px;
}

.cart-total {
    cursor: pointer;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
    color: #a5abb7;
}

.cart-total .total {
    float: left;
}

.cart-total .fa {
    float: left;
    display: block;
    font-size: 24px;
    line-height: 33px;
    margin-left: 2px;
    color: #232323;
}

.cart-total .items {
    float: left;
    margin-left: 5px;
}

.cart-items {
    position: relative;
    margin: 0 0 0 auto;
    max-width: 450px;
}

.cart-items .cart-items-inner {
    background-color: #ffffff;
    border: solid 3px #e9e9e9;
}

.cart-items .media {
    padding: 15px;
    overflow: hidden;
}

.cart-items .media + .media {
    border-top: solid 1px #e9e9e9;
    margin-top: 0;
}

.cart-items .item-image {
    width: 50px;
}

.cart-items .item-title {
    margin-bottom: 0;
    font-size: 17px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 300;
}

.cart-items .item-title a {
    color: #232323;
}

.cart-items .item-desc {
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
}

.cart-items .item-price {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    color: #232323;
}

.cart-items .btn-call-checkout {
    margin-left: 15px;
}

.popup-cart .modal-dialog {
    margin-top: 90px;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.15s ease-out;
    -o-transition: -o-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.widget ul li {
    list-style: none;
    padding: 0;
}

.widget ul {
    padding-left: 0;
}

.widget h4 {
    background: #733494;
    color: #fff;
    padding: 10px;
}

i.fa.fa-th-large {
    font-size: 31px;
    color: #733494;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.slider-handle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #5f5f61 !important;
    background-image: linear-gradient(to bottom, #733494 0, #e9439c 100%);

}

.slider-selection {
    position: absolute;

    background: linear-gradient(to bottom, #c5c5c5 0, #afafaf 100%) repeat-x;

}

.side-banner img {
    margin-top: 30px;
    width: 100%
}

i.fa.fa-list {
    font-size: 31px;
    margin-left: 13px;
    color: #733494;
}

.col-sm-2.text-right-sm {
    text-align: right;
}

.page-header img {
    width: 100%;
    object-fit: cover;
    min-height: 190px;
}

.page-header .container h3 {
    padding: 7px 7px 9px 15px;
    color: #fff;
    width: 100%;
    margin-top: -65px;
    position: relative;
    font-size: 32px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #e9439c;
    border-color: #e9439c;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #e9439c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

label {

    margin-bottom: 0;

}

.widget ul li {
    padding: 6px;
    border-bottom: 1px solid #ababab;
    background: #f7f7f7;
}

.row.products.grid {
    margin-top: 50px;
}

.row.products.grid .col-md-3.col-sm-6 {
    margin-bottom: 25px;
}

.page-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
    margin: 0 0 20px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #333 !important;
    padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    color: #733494 !important;
    text-decoration: none;
}

.mega-dropdown-menu a:after {
    display: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    line-height: 30px;
    padding: 0;
}

/*
.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}

.left.carousel-control {
    right: 30px;
    left: inherit;
}*/

.page-section.slider .carousel-control, .page-section.slider .carousel-control  {
    background: none;
}
.page-section.slider .carousel-control,
.page-section.slider .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #733494;
    width: 40px;
    height: 60px;
    color: #fff !important;
    text-align: center;
    line-height: 60px;
    opacity: .5;
    border-radius: 5px;
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    margin: auto;
}

.page-section.slider .carousel-control:hover {
    opacity: .9;
}

.page-section.slider .carousel-control.left {
    left: 5%;
}

.page-section.slider .carousel-control.right {
    right: 5%;
}

/*********************************************
            Theme Elements
*********************************************/
.product-detail {
    padding: 40px 0;
}

.gold {
    color: #FFBF00;
}

/*********************************************
          PRODUCTS
*********************************************/

.product-img {
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-img > img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.product-img .carousel-inner .item {
    text-align: center;
}

.product-img .carousel-inner .item img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 400px;
}

.product-rating {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #733494;
    border-radius: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product-desc {
    font-size: 14px;
}

.product-price {
    font-size: 22px;
}

.product-stock {
    color: #4cae4c;
    font-size: 20px;
    margin-top: 10px;
}

.product-info {
    margin-top: 20px;
}

.product-desc {
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px;
    margin-top: 0;
}

.product-info ul li a {
    color: #5f5f61;
}

.product-info ul li a:after {
    display: none;
}

.product-info .nav-tabs > li > a, .product-info .nav-tabs > li > a:hover, .product-info .nav-tabs > li > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.product-info .nav-tabs > li.active > a, .product-info .nav-tabs > li > a:hover, .product-info .nav-tabs > li > a:focus {
    background-color: #733494;
    color: #fff;
    cursor: pointer;
}

.product-info .tab-content {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 5px 5px 5px;
}

.product-info .tab-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-info .tab-content ul li {
    position: relative;
    padding-left: 1.5rem;
    margin: 0 0 1rem;
}

.product-info .tab-content ul li:before {
    position: absolute;
    top: 8px;
    right: auto;
    bottom: auto;
    left: 0;
    content: '';
    height: .5em;
    width: .5em;
    background: #5f5f61;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.product-quantity input, .product-size select {
    width: 70px;

}

/*********************************************
          VIEW
*********************************************/

/*********************************************
        ITEM
*********************************************/

.service1-items {
    padding: 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img, .service-image-right > center > img {
    max-height: 155px;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px 0 0;
    margin: 8px 15px 8px 13px;
    background: transparent none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.formModal .modal-dialog {
    position: absolute;
    max-width: 400px;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    left: 0;
    right: 0;
    margin: auto;
}

.newsletterStyle .modal-dialog {
    position: absolute;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    left: 0;
    right: 0;
    margin: auto;

}

.formModal .modal-header .close {
    display: inline-block;
    background: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    opacity: .7;
}

.formModal .modal-header {
    background-color: #733494;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.formModal .modal-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    width: calc(100% - 30px);
}

.formModal label {
    margin-bottom: .5rem;
}

.formModal .form-control {
    height: 40px;
    margin-bottom: 20px;
}

.formModal button[type="submit"] {
    font-size: 18px;
    text-transform: uppercase;
}

.page-bannrelong {
    margin-bottom: 30px;
}

.fgPass a {
    font-size: 14px;
    color: #666;
    line-height: 36px;
}

.newsletterStyle .modal-dialog {
    padding: 0 30px;
}

.newsletterStyle .modal-body {
    position: relative;
    background: url("../img/bg-newsletter.jpg") no-repeat;
    background-size: 100% 100%;
    height: 374px;
    padding: 20px 20px 0;
}

.newsletterForm {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 250px;
    margin: auto;
}

.newsletterStyle .modal-body .form-control {
    margin-bottom: 20px;
}

.newsletterStyle .close {
    position: absolute;
    top: -20px;
    right: -20px;
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    font-size: 36px;
    text-align: center;
    line-height: 24px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    color: #733494;
    border: 2px solid #733494;
    opacity: 1;
    z-index: 99;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.productSlider .carousel-indicators {
    position: static;
    left: initial;
    display: inline-block;
    background-color: #e9ecef;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin: 0;
}

.productSlider .carousel-indicators li {
    width: 30%;
    height: auto;
    margin-right: 12px;

}

.productSlider .carousel-indicators::-webkit-scrollbar {
    width: .5rem;
    height: .7rem
}

.productSlider.carousel-indicators::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

.productSlider .carousel-indicators::-webkit-scrollbar-thumb {
    background-color: #733494;
    outline: 1px solid #212529;
    border-radius: 5px
}

.productSlider .carousel-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #733494;
    width: 30px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    opacity: .5;
    margin: auto;
}

.productSlider .carousel-arrow:hover {
    opacity: .9;
}

.productSlider .carousel-arrow.left {
    left: 10px;
}

.productSlider .carousel-arrow.right {
    right: 10px;
}

.float-none {
    float: none;
    display: inline-block;
}

/*
=============================================
Mega Menu CSS
=============================================
 */
.navbar-nav > li > .dropdown-menu {
    display: inline-block;
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav > li > a {
    width: 200px;
    font-weight: bold;
}

.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*.mega-dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -10px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}*/

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
    padding: 3px 0;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    color: #733494;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 0;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.megaCarousel .carousel-inner .item {
    text-align: center;
}

.megaCarousel .carousel-inner .item img {
    display: inline-block;
    width: auto;
    max-height: 200px;
}

.megaCarousel .carousel-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #733494;
    width: 30px;
    height: 50px;
    color: #fff !important;
    text-align: center;
    line-height: 50px;
    opacity: .5;
    border-radius: 5px;
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    margin: auto;
}

.megaCarousel .carousel-arrow:hover {
    opacity: .9;
}

.megaCarousel .carousel-arrow.left {
    left: 10px;
}

.megaCarousel .carousel-arrow.right {
    right: 10px;
}

/*
=============================================
Mega Menu CSS
=============================================
 */
/*
=============================================
Image Zoom CSS
=============================================
 */
.page-sale .col-md-6, .media:first-child, .container-images, .page-bannrelong .col-md-12 {
    overflow: hidden;
}

.page-sale .col-md-6 img, .media:first-child img, .container-images img, .page-bannrelong .col-md-12 img {
    transition-duration: 4s;
}

.page-sale .col-md-6 img:hover, .media:first-child img:hover, .container-images img:hover, .page-bannrelong .col-md-12 img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

/*
=============================================
Image Zoom CSS
=============================================
 */
/*
=============================================
Embed CSS
=============================================
 */
.header .navigation-wrapper .navbar-toggle {
    padding: 10px;
}

.reg-form {
    padding: 0 0;
}

.reg-form h1 {
    font-size: 30px;
    line-height: normal;
    color: #733494;
    margin: 0 0 1rem;
}

.reg-form h3 {
    font-size: 26px;
    line-height: normal;
    color: #666;
    margin: 0 0 1rem;
}

.reg-form label {
    font-weight: normal;
    margin-bottom: .5rem;
}

.reg-form label span, .text-red {
    color: red;
}

.btn-success {
    color: #fff;
    background-color: #733494;
    border-color: #733494;
}

.listfontstyle {
    font-size: 1em;
    font-weight: normal;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px;
}

.productView-options .form-field {
    font-size: 0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    min-width: 150px;
    min-height: 110px;
    margin: 0 10px 15px 0;
    float: left;
    box-shadow: 0 1px 6px rgba(9, 63, 152, .4);
}

.form-label, .form-label--alternate {
    font-size: 18px;
}

.form-label--alternate {
    font-weight: 700;
    margin-bottom: .75rem;
    color: #000;
}

.productView-options .form-field--increments button[data-action="dec"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.productView-options .form-field--increments button {
    width: 36px;
    height: 36px;
}

.form-increment .button {
    margin: 0;
    padding: 1px .41667rem .25rem;
    width: 36px;
    height: 36px;
    border-color: #cbcbcb;
    font-size: 20px;
    color: #7b7b7b;
}

.button {
    border: 1px solid;
    cursor: pointer;
    font-family: Nunito Sans, sans-serif;
    font-weight: 700;
    margin: 0 0 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: .91667rem 2.25rem;
    border-radius: 0;
    vertical-align: middle;
    line-height: 1rem;
    font-size: 15px;
    box-shadow: 0 1px 6px rgba(9, 63, 152, .4);
}

.button, .card--alternate, .form-option {
    transition: all .15s ease;
}

.button, .button.active, .button.is-active, .button:active, .button:focus, .button:hover {
    background-color: transparent;
}

.form-increment .button:hover {
    border-color: #000;
}

.is-srOnly, .u-hiddenVisually {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.productView-options .form-field--increments button[data-action=dec] i.fa, .productView-options .form-field--increments button[data-action=inc] i.fa {
    color: #6e6e6e;
    font-size: 14px;
}

.productView-options .form {
    display: inline;
}

.fa-stack {
    display: inline-block;
}

.productView-options .form-field--increments .form-input {
    height: 36px;
    border-radius: 0;
    font-weight: 700;
}

.form-input--incrementTotal {
    display: inline-block;
    font-size: 1rem;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 2.91667rem;
    min-width: 50px;
    height: 36px;
    border: 1px solid #cbcbcb;
    border-radius: 0;
}

.form-input {
    background-color: #fff;
    border-color: #d1d1d1;
    color: #454545;
    padding: .75rem 1rem;
    transition: border-color .1s ease-out;
    width: 100%;
}

.form-input, .form-select {
    border: 1px solid;
    font-family: inherit;
    margin: 0;
    border-radius: 0;
    font-size: 1rem;
}

.button, .form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-input, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.form-label, .form-label--alternate {
    font-size: 18px;
}

.form-label--alternate {
    font-weight: 700;
    margin-bottom: .75rem;
    color: #000;
}

.form-label {
    margin-bottom: 10px;
}

.form-label, .navList-action.is-active {
    font-weight: 700;
}

.form-label {
    color: #000;
    cursor: pointer;
    line-height: 1.5;
}

.form-label--inlineSmall small {
    line-height: 25px;
}

.form-label small, .form-label--inlineSmall small {
    font-style: normal;
}

.form-label--inlineSmall small {
    float: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
}

.form-label small, .form-label--inlineSmall small {
    text-transform: none;
    font-weight: 600;
    color: #FF138C;
}

.form-label small {
    vertical-align: bottom;
}

[data-product-attribute] .form-option {
    line-height: 21px;
}

[data-product-attribute] .form-option {
    position: relative;
}

[data-product-attribute=swatch] .form-option {
    width: 36px;
    height: 36px;
}

[data-product-attribute=swatch] .form-option > span {
    position: relative;
    z-index: -1;
}

.form-option-variant--color,
.form-option-variant--pattern {
    min-width: initial;
    padding: 0;
    height: 36px;
    width: 36px;
}

.form-option-variant {
    display: inline-block;
    font-size: 1rem;
    pointer-events: none;
    text-align: center;
}

[data-product-attribute=set-rectangle] .form-option {
    min-width: 36px;
    height: 36px;
    text-align: center;
    padding: 8px 7px 7px;
}

.form-option {
    display: inline-block;
}

.form-option {
    border: 0 !important;
    box-shadow: inset 0 0 0 1px #e4e4e4;
    color: #000;
    cursor: pointer;
    font-size: 0;
    margin-bottom: 9px;
    margin-right: 9px;
}

.form-option-variant {
    display: inline-block;
    font-size: 1rem;
    pointer-events: none;
    text-align: center;
}

.productView-options .form-field {
    font-size: 0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    min-width: 150px;
    min-height: 110px;
    margin: 0 10px 15px 0;
    float: left;
    box-shadow: 0 1px 6px rgba(9, 63, 152, .4);
}

.form-field {
    display: block;
    margin: 0 0 2rem;
    max-width: none;
}

.productView-options {
    clear: both;
    margin-bottom: 15px;
}

.dropdown-menu--content.open, .form-label, .form-legend {
    display: block;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.form-checkbox, .form-radio {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btnstyle {
    min-width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 28px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    letter-spacing: .05em;
    display: inline-block;
}

.btn-group, .btn-group-vertical {
    min-width: 100%;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.page-sale {
    margin-top: 1%;
}

.img100 {
    width: 100%;
}

.bannernew2 {
    margin-top: 5%;
}


.navigation-wrapper ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}


.header .navigation-wrapper .navbar-toggle1 {
    padding: 10px;
}
@media (max-width: 991px){
.navbar-header .navbar-toggle1 {
    padding: 15px;
    margin-top: 4px;
      width: 43px;
    height: 37px;
}

.navbar-header .collapse, .navbar-toggle1 {
    display: block;
}
}

.navbar-default .navbar-toggle1 {
    border-color: #ddd;
}

.navbar-toggle1 {
    position: relative;
    float: left;
    padding: 9px 10px 0 0;
    margin: 8px 15px 8px 13px;
    background: transparent none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle1 .icon-bar {
    background-color: #fff;
    margin-top: 3px;
}

.navbar-toggle1 .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.nav1>li>a:hover, .nav1>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #733494;
}


.form-group {
    padding-bottom: 10px;
    margin: 0px 0 0 0 !important;
}

/*.main-panel > .content {
    margin-top: 10px !important;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}
*/
@media (min-width: 786px){
.navbar-toggle1 {
    display: none;
}



}



input.searchbar {
    border: solid 0 #fff;
    padding-left: 18px;
}


/*-------------media Query max--------------*/

@media (max-width: 1199px) {
    .cart-wrapper {
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .new-arrival.text-center h1 {
        font-size: 60px;
    }
    .new-arrival.text-center h2 {
        font-size: 50px;
    }
    .new-arrival.text-center h3 {
        font-size: 60px;
    }
    h2.section-title1 {
        margin-bottom: 20px;
    }
    .owl-carousel .owl-controls .owl-dot img, .owl-carousel .owl-controls .owl-nav .owl-next img, .owl-carousel .owl-controls .owl-nav .owl-prev img {
        width: 20px;
        height: auto;
    }
    .page-section.slider {
        margin-bottom: 20px;
    }
    .page-sale {
        padding: 20px 0 0;
    }
    .page-sale img {
        margin-bottom: 20px;
    }
    .page-section .section-title1 {
        font-size: 24px;
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .header .header-search {
        width: 100px;
    }
    .top-products-carousel .owl-prev {
        left: -10px;
    }

    .top-products-carousel .owl-next {
        right: -10px;
    }

    .navigation-wrapper ol, ul {
    padding-left: 0;
}
}

@media (max-width: 767px) {
    .sticky-wrapper .header {
        position: relative !important;
        height: auto !important;
    }
    .header .header-search {
        display: none;
    }
    .header .navigation-wrapper .nav1 > li.mega-dropdown.open ul.mega-dropdown-menu {
        top: auto;
        width: 96.5%;
    }
    .newsletterStyle .modal-body {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .logo {
        padding-top: 0;
        margin-bottom: 0;
    }

    .cart-wrapper {
        float: none !important;
        margin-left: 0;
    }

    .carousel-caption p {
        width: 372px;
        left: 0;
        text-align: right;
        font-size: 40px;
        background: #733494;
        display: none;
        padding: 0 18px 0 0;
    }

    .header-search {
        position: relative !important;
        left: 0 !important;
        float: none;
        width: 100% !important;
        margin-bottom: 20px;
    }

    /*.header .header-search .form-control {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: solid 2px #733494;

    }*/

    .header .header-search button {
        position: absolute;
        left: 89%;
    }

    .header-cart {
        position: relative !important;
        right: auto !important;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-inline {
        padding-top: 10px;
    }

    .responsiveblocks {
        padding-top: 10px;

    }
}

@media (max-width: 767px) {

    .nav1 li {
        width: 100%;
        text-align: left;
    }

    .popup-cart .modal-dialog > .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .top-bar ul a span {
        display: none;
    }

    .header.header-logo-left .header-search {
        left: 290px;
        width: 225px;
    }

    .top-bar ul li {
        margin-right: 5px;
    }

    .product-img {
        margin-bottom: 20px;
    }

    .header.header-logo-left .header-search .header-search-select .caret {
        display: none;
    }

    .header.header-logo-left .header-search .header-search-select .dropdown-toggle {
        width: 40px;
    }

    .header.header-logo-left .header-search .header-search-select .dropdown-toggle:after {
        content: '\f0b0';
        font-family: 'FontAwesome', serif;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        text-align: center;
        color: #232323;
    }

    .header .header-search {
        width: 100%;
        margin: 20px 0 0;
    }

    .prodquantity {
        font-size: 0;
        border: 1px solid #ccc;
        text-align: center;
        padding: 10px;
        min-width: 150px;
        min-height: 110px;
        margin: 0 10px 15px 0;
        float: left;
        box-shadow: 0 1px 6px rgba(9, 63, 152, .4);
    }
    .header .header-info, .header .header-cart {
        text-align: center;
    }
    .header .header-search .form-control {
        border: 0;
    }

}

/*-------------media Query min --------------*/

@media (min-width: 480px) {

    .header .header-search .form-control {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: solid 0 #733494;
        box-shadow: 0 0 #733494;
        padding-left: 23px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .nav1 {
        border-radius: 4px;
        text-align: center;
    }

    .carousel-caption h3 {
        color: rgb(0, 0, 0);
        font-size: 57px;
        text-transform: uppercase;
        font-family: "champ", sans-serif;
    }

    .nav1 li a::after {
        content: '|';
        margin-left: 18px;
    }

    .popup-cart .modal-dialog {
        width: 100%;
    }

    .popup-cart .modal-dialog {
        width: 100%;
    }

    .carousel-caption p {
        width: 372px;
        left: 0;
        text-align: right;
        font-size: 40px;
        background: #733494;
        padding: 0 18px 0 0;
    }

    .cart-items:before {
        content: '';
        position: absolute;
        top: -9px;
        right: 50px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e9e9e9;
    }

    .cart-items:after {
        content: '';
        position: absolute;
        top: -7px;
        right: 50px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
    }

    /*.nav li {

    display: inline-block;

    }

    */

}

@media (min-width: 480px) and (max-width: 768px) {
    .header.header-logo-left .header-search {
        left: auto;
        top: auto;
        width: 100%;
        margin-top: 30px;
        position: relative;
    }

}

@media (min-width: 480px) {
    .productView-options {
        text-align: left;
    }
}

@media (min-width: 480px) {
    .productView-options {
        text-align: left;
    }
}


/*
=============================================
Embed CSS
=============================================
 */